<!DOCTYPE html>
<html lang="es">
{% load static %}
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">


</head>

<body>
    <header>
        <div class="navbar">
            <a href="index.html"><img src="{% static 'images/SOCIO-BEE-Logo.png' %}" alt="SOCIO-BEE-Logo" class="navbar_logo"></a>

            <nav class="navbar_buttons">
                <ul>
                    <li><a href="{% url 'index' %}" class="navbar_buttons_active"> {% trans " Home " %}</a></li>
                    <li><a href="about.html">{% trans " About Us " %}</a></li>
                    <li><a href="{% url 'campaigns' %}">{% trans " Campaigns " %}</a></li>
                    <li><a href="{% url 'login' %}">{% trans " Account " %}</a></li>
                    <li class="language_form">
                        {% get_current_language as LANGUAGE_CODE %}
                        <form id="language-form" action="{% url 'set_language' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ redirect_to }}">
                            <select name="language" id="language-select">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                        {{ language.name_local}} {{language.code}}
                                    </option>
                                {% endfor %}
                            </select>
                            <script>
                                document.getElementById('language-select').addEventListener('change', function() {
                                    document.getElementById('language-form').submit();
                                });
                            </script>
                        </form>

                        
                    </li>
                </ul>
            </nav>

        </div>
        <div class="row">
            <div class="row_col_2">
                <div class="row_col_2_text">
                    <h1>Wearables and droneS fOr CIty Socio-Environmental Observations and BEhavioral ChangE</h1>
                    <a href="campaigns.html" class="button">{% trans " Discover all the campaigns " %} &#8594;</a>
                </div>
            </div>
            <div class="row_col_2">
                <img src="{% static 'images/c1.png' %}" alt="" class="slides">
                <img src="{% static 'images/c2.png' %}" alt="" class="slides">
                <img src="{% static 'images/c3.png' %}" alt="" class="slides">
                <img src="{% static 'images/c4.png' %}" alt="" class="slides">
            </div>
        </div>
    </header>

    <main>
        <div class="categories">
            <div class="container">
                <div class="row">
                    <img src="{% static 'images/SocioBee.png' %}" alt="SocioBee">
                </div>
            </div>
        </div>
        <div class="container">
            <h2> {% trans " About Us " %} </h2>
            <div class="row_col_2">
                <div class="row_col_2_text">
                <img src="{% static 'images/about_us_image.png' %}" alt="AboutUS">
                
            <p>{% trans " Welcome to SOCIO-BEE! " %} </p>
            <p>{% trans " We aim at empowering communities to adopt more sustainable behaviors. " %} </p>
            <p>{% trans " How do we do that?  " %} </p>
            <p>{% trans " Through citizen science, portable air quality sensors, and social innovation. " %} </p>
            <p>{% trans " Our project also raises awareness of climate change and encourages citizens to monitor and observe the environment. " %} </p>
            <p>{% trans " Join us on this journey to create a healthier, more sustainable future! " %} </p>
        </div>
        </div>
        </div>

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer_col_1">
                    <img src="{% static 'images/SOCIO-BEE-Logo.png' %}" alt="web logo">
                </div>
                <div class="footer_col_2">
                    <h2>{% trans " Contact " %}</h2>
                    <ul>
                        <li>{% trans " Blog " %}</li>
                        <li>{% trans " About Me " %}</li>
                        <li>{% trans " Terms and Conditions " %}</li>
                    </ul>
                </div>
                <div class="footer_col_3">
                    <h2>Social</h2>
                    <ul>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Facebook</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright© 2023 <a href="https://www.linkedin.com/in/rubén-garcía-pedrejón-846235194/" target="_blank"> Rubén García</a></p>
    </footer>

    <script src="{% static '/js/slides.js' %}"></script>
</body>


</html>